/* src/index.css */
@import "tailwindcss";

@theme {
  /* Définition de l'animation personnalisée */
  --animate-infinite-scroll: infinite-scroll 45s linear infinite;

  @keyframes infinite-scroll {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); }
  }
}

/* Ajout pour masquer la scrollbar du carrousel tout en gardant le scroll */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;    /* Firefox */
}